body{
    font-family:  'Roboto' , Times ;
}

.section-1,
.footer{
    background-color: #1f2937;
}

.header-logo,
.hero-main{
    color: #F9FAF8;
}

.header-links,
.hero-second,
.placeholder-1{
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo{
    font-size: 24px;
}

.hero-main{
    font-size: 48px;
    font-weight: bold; /*this should be extrabold*/
}

.placeholder-1{
    background-color: darkgray;
}

.header{
    display:flex;
    justify-content: space-around;
}

.section-1-main{
    display: flex;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}