body{
    font-family:  'Roboto' , Times ;
}

.section-1,
.footer{
    background-color: #1f2937;
}

.section-1{
    padding-bottom: 50px;
}

.header-logo,
.hero-main{
    color: #F9FAF8;
}

.header-links,
.hero-second,
.placeholder-1{
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo{
    font-size: 24px;
}

.hero-main{
    font-size: 48px;
    font-weight: bold; /*this should be extrabold*/
    width: 350px;
}

.placeholder-1{
    background-color: darkgray;
    padding: 40px;


}

.header{
    display:flex;
    justify-content: space-around;
    padding: 18px;
}

.section-1-main{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 18px;
}

.sect-1-right{
    align-self: center;

}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.hero-second{
    width: 400px;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    color:#F9FAF8;
    font-weight: 700;
    border: none;
    padding: 4px 18px;
    margin-top: 12px;
}

/* up to this point, mainly code to style section 1 */
/* pending: work on left & right margin and padding, to align content */