body{
    font-family:  'Roboto' , Times ;
    margin: 0;
}

.section-1,
.footer{
    background-color: #1f2937;
}

.section-1{
    padding-bottom: 50px;
}

.header-logo,
.hero-main,
.sect-4-title{
    color: #F9FAF8;
}

.header-links,
.hero-second,
.placeholder-1{
    color: #e5e7eb;
    font-size: 18px;
}

.header-logo,
.sect-4-title{
    font-size: 24px;
}

.hero-main{
    font-size: 48px;
    font-weight: 800;
    width: 350px;
}


.header{
    display:flex;
    justify-content: space-around;
    padding: 18px;
}

.section-1-main{
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 18px;
}

.sect-1-right{

    display: flex;
    background-color: darkgray;
    width: 600px;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 35px;
}

a{
    text-decoration: none;
    color: inherit;
}

.hero-second{
    width: 400px;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    color:#F9FAF8;
    font-weight: 700;
    border: none;
    padding: 4px 18px;
    margin-top: 12px;
    font-size: 18px;
    width: 110px;
}

/* up to this point, mainly code to style section 1 */
/* pending: work on left & right margin and padding, to align content */

.section-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0px 50px 0px;
}

.info-title{
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    padding: 20px;
}

.info-container{
    display: flex;
    gap: 40px;
}

img{
    width: 200px;
    height: auto;
    border: 5px solid #3882f6 ;
    border-radius: 6px;
    

}

.info{
    display: flex;
    flex-direction: column;
}

.infotext{
    flex-wrap: wrap;
    width: 200px;
    text-align: center;
    color: #666666;
    margin-top: 6px;

}


/* up to this point, mainly code to style section 2 */

.section-3{
 
    background-color: #e5e7eb;

}

.quote-container{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: auto;
    padding: 50px; 
    gap: 10px;
}

.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 300;

}

.quote-credit{
    text-align: end; 
    font-weight: 700;
}

/* up to this point, mainly code to style section 3 */

.section-4{
    display: flex;
    justify-content: center;
}

.text-box{
    display: flex;
    padding: 40px 80px;
    background-color: #3882f6;
    border-radius: 5px;
    margin: 60px auto 60px auto;
    width: 1000px;

}

.sect-4-title{
    font-weight: 600;
}

.sect-4-right{
    margin-left: auto;
    align-self: center;
}

.sect-4-right button{
    border: 1px solid white;
    margin-top: 0px;    
    flex: 0 0 auto;
}

.sect-4-left{
    display: flex;
    flex-direction: column;

}

.hero-second{
    width: 600px;
}

/* up to this point, mainly code to style section 4 */


.footer{
    text-align: center;
    color: #e5e7eb;
    padding: 30px;
}
